<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>{{settings.home_page_main_text}}</h1>
      <p>Explore our range of products, access guidance and optimize your Teamworks experience.</p>
    </div>
    <div class="hero-right">
      <img class="hero-image" src="{{settings.home_page_main_hero_image}}" alt="All products that Teamworks offers including Smartabase, Pulse, Hub, Retain, Whistle, Communities, Inflcr, ARMS, Navigate, and Notemeal">
    </div>
  </div>
</section>

<div class="container">
  <section id="launchpad" class="section">
    <div class="launchpad-container">
      <h2>Choose a Product</h2>
      <div class="launchpad-grid">

        <div class="product">
          <a href="{{settings.hub_link}}">
            <img src="{{settings.hub_logo_color-black_rgb}}" alt="Hub Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.inflcr_link}}">
            <img src="{{settings.inflcr_logo_color-black}}" alt="INFLCR Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.notemeal_link}}">
            <img src="{{settings.notemeal_logo_color-black_rgb}}" alt="Notemeal Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.whistle_link}}">
            <img src="{{settings.whistle_logo_color-black}}" alt="Whistle Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.s_link}}">
            <img src="{{settings.s_logo_color-black_rgb}}" alt="Smartabase Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.c_link}}">
            <img src="{{settings.c_logo_color-black_rgb}}" alt="Communities Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.pulse_link}}">
            <img src="{{settings.pulse_logo_color-black_rgb}}" alt="Pulse Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.retain_link}}">
            <img src="{{settings.retain_logo_color-black_rgb}}" alt="Retain Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.arms_link}}">
            <img src="{{settings.arms_logo_color-black}}" alt="ARMS Logo">
          </a>
        </div>

        <div class="product placeholder">
          {{!-- blank for centering purposes --}}
        </div>

        <div class="product">
          <a href="{{settings.pathways_link}}">
            <img src="{{settings.pathways_logo-color_rgb}}" alt="Pathways Logo">
          </a>
        </div>

        <div class="product placeholder">
          {{!-- blank for centering purposes --}}
        </div>


      </div>
    </div>
  </section>
</div>

{{!-- Banner ad --}}
<div class="container">
  <section id="banner-ad" class="section">
    <div class="banner-ad-container">
      <a href="">
        <img src="" alt="Banner Ad">
      </a>
    </div>
  </section>
</div>
