<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-container">
    <div class="hero-left">
      <h1>{{settings.home_page_main_text}}</h1>
      <p>Explore our range of products, access guidance and optimize your Teamworks experience.</p>
      <div class="hero-btn-group">
        <a href="#" class="main-tw-button">Submit a Request →</a>
        <a href="https://teamworks.zendesk.com/hc/en-us/requests/new" class="alt-tw-button">Chat with us</a>
      </div>

    </div>
    <div class="hero-right">
      <img class="hero-image" src="{{settings.home_page_main_hero_image}}" alt="All products that Teamworks offers including Smartabase, Pulse, Hub, Retain, Whistle, Inflcr, ARMS, Navigate, and Notemeal">
    </div>
    
  </div>
</section>

<div class="container">
  <section id="launchpad" class="section">
    <div class="launchpad-container">
      <h2>Choose a Product</h2>
      <div class="launchpad-grid">

        <div class="product">
          <a href="{{settings.hub_link}}">
            <img src="{{settings.hub_logo_color_black_rgb}}" alt="Hub Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.inflcr_link}}">
            <img src="{{settings.inflcr_logo_color_black}}" alt="INFLCR Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.notemeal_link}}">
            <img src="{{settings.notemeal_logo_color_black_rgb}}" alt="Notemeal Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.whistle_link}}">
            <img src="{{settings.whistle_logo_color_black}}" alt="Whistle Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.smartabase_link}}">
            <img src="{{settings.s_logo_color_black_rgb}}" alt="Smartabase Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.pulse_link}}">
            <img src="{{settings.pulse_logo_color_black_rgb}}" alt="Pulse Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.retain_link}}">
            <img src="{{settings.retain_logo_color_black_rgb}}" alt="Retain Logo" height="460">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.arms_link}}">
            <img src="{{settings.arms_logo_color_black}}" alt="ARMS Logo">
          </a>
        </div>

        <div class="product">
          <a href="{{settings.arms_camps_link}}">
            <img src="{{settings.arms_camps_logo_color_black}}" alt="ARMS Camps Logo">
          </a>
        </div>

          <div class="product">
            <a href="{{settings.pathways_link}}">
              <img src="{{settings.pathways_logo_color_rgb}}" alt="Pathways Logo">
            </a>
          </div>

          <div class="product">
            <a href="{{settings.collectives_link}}">
              <img src="{{settings.collectives}}" alt="Collectives Logo">
            </a>
          </div>

          <div class="product">
            <a href="{{settings.rcomms_link}}">
              <img src="{{settings.rcomms}}" alt="Collectives Logo">
            </a>
          </div>


      </div>
    </div>
  </section>
</div>

{{!-- Banner ad --}}
<div class="banner-container">
  <div class="banner-inner">
    <h1 class="banner-title">{{ settings.banner_title }}</h1>
    <p class="banner-description">
      {{ settings.banner_description }}
    </p>
    <a class="button button-primary banner-button" href={{ settings.banner_button_link }}>
      {{ settings.banner_button_text }}
      <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="{{ settings.background_color }}">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z"/>
      </svg>
    </a>
  </div>
</div>
